<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aibaixun.gail.mapper.RoleMapper">
    <select id="selectRoleByUserGroupId" resultType="com.aibaixun.gail.entity.Role">
        SELECT
                r.*
        FROM
                t_role r,t_user_group_role ugr
        WHERE
                r.id=ugr.role_id and ugr.user_group_id=#{userGroupId}
    </select>
</mapper>
